<!DOCTYPE html>
{% extends "polls/base.html" %}

    {% block content %}
    <div style="padding: 5rem">
    <div class="card">
        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            <fieldset>
                <div class="card-header">
                    <legend><h1>{{ question.question_text }}</h1></legend>
                </div>
                <div class="card-body">
                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}
            
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice {{ forloop.counter}}"
                        value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                {% endfor %}
                </div>
            </fieldset>
            <div class="card-footer">
                <input class="btn btn-primary" type="submit" value="Vote">
                <a class="btn btn-primary" href="{% url 'polls:index' %}">Back to polls</a>
                <a class="btn btn-primary" href="{% url 'polls:results' question.id %}">Show results</a>
            </div>
        </form>
    </div>
</div>
    {% endblock content %}
</html>